<div id="carousel" class='owl-carousel'>
    <div class='item'>
        <div class="Displayer">
            <div class="Displayer-image">
                <img src="http://placehold.it/800x800" alt="Image of displayer">
            </div>
            <div class="Displayer-contents">
                <div class="Displayer-title">Caribbean Salmon with Tomato Relish</div>
                <div class="Displayer-description"><p>Marinated Salmon is perfectly seared with island spices, roasted zucchini, squash and topped with a fresh tomato relish. Served on a bed of savory rice. Treat yourself to a taste of the Caribbean with this filling meal.</p></div>
            </div>
        </div>
    </div> <!-- Description -->
    <div class='item'>
        <div class="Displayer">
            <div class="Displayer-image">
                <img src="http://placehold.it/800x800" alt="Image of displayer">
            </div>
            <div class="Displayer-contents">
                <div class="Displayer-description">
                    <ul>
                        <li>Salmon</li>
                        <li>Zucchini</li>
                        <li>Squash</li>
                        <li>White Rice</li>
                        <li>Scallion</li>
                        <li>Tomato</li>
                        <li>Cilantro</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- Ingredients -->
    <div class='item'>
        <div class="Displayer">
            <div class="Displayer-image">
                <img src="http://placehold.it/800x800" alt="Image of displayer">
            </div>
            <div class="Displayer-contents">
                <div class="Displayer-description">
                    <div class="Displayer-title">Chef Al</div>
                    <p>Hometown: Washington, DC<br>Chef Experience: 6+<br>Speciality: Caribbean, Southern Comfort<br>When I'm not cooking I'm.."spending time with friends and family!"</p>
                </div>
            </div>
        </div>
    </div> <!-- Chef -->
</div>

<button>Order Now | $13.25 Per Meal</button>

<ul id='carousel-custom-dots' class='owl-dots Dots'>
  <li class='Dot owl-dot'>Description</li>
  <li class='Dot owl-dot'>Ingredients</li>
  <li class='Dot owl-dot'>About The Chef</li>
</ul>

{{yield}}