// Default scale:
$scale-one-down: 0.666rem;
$scale-default: 1rem;
$scale-one-up: 1.618rem;
$scale-two-up: 2.25rem;

// Z-index scale-

$zIndex-default: 100;
$zIndex-one-up: 200;
$zIndex-two-up: 300;

// Colors
$primary-color: rgba(186,29,79,0.95);
$secondary-color: rgba(239,82,62,0.95);
$default-color: #fff;
$lightly-muted-color: #d8d8d8;
$muted-color: #888787;

// Default values
$default-radius: 3px;