html {
    font-size: 16px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #fff;
}

main {
    position: relative;
    display: block;
    max-width: 480px; // Want to keep it at a mobile size for now.
    width: 100%;
    min-height: 100vh;
    padding-bottom: $scale-two-up;
    margin: 0 auto;
}

img {
  max-width: 100%; // responsive images
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style-type: none;
}