.DisplayItems,
.DisplayItems > *+*,
.Displayer-content {
    margin-top: $scale-default;
}

.Displayer-title {
    background: $primary-color;
    background: -webkit-linear-gradient(left, $primary-color, $secondary-color);
    background: -o-linear-gradient(right, $primary-color, $secondary-color);
    background: -moz-linear-gradient(right, $primary-color, $secondary-color);
    background: linear-gradient(to right, $primary-color, $secondary-color);
    min-height: $scale-two-up;
    padding-top: 0.5rem;
    padding-left: $scale-default;
    color: $default-color;
}

.Displayer-contentTitle {
    font-size: $scale-one-up;
    line-height: 1.2;
    text-align: center;
}