<div class="Loading">
    <div class="Loading-logo">
        <img src="logo.png" alt="Hungry logo">
    </div>
    <div class="Loading-description">Finding Meals</div>
    <div class="Loading-dots"></div>
</div>