{{log model}}
<img class="Logo" src="/assets/images/logo.png" alt="Hungry Logo">
<div class="Meals">
    {{#each model as |meal|}}
        {{meal-item
            photo=meal.images.[0].url
            available_quantity=meal.scheduled_offerings.[0].available_quantity
            name=meal.name
            description=meal.description
            price=meal.price
            rating=meal.rating
            reviews_count=meal.reviews_count
            id=meal.id}}
    {{/each}}
</div>
{{outlet}}
