<div class="Meals">
    {{#each menuItems as |meal|}}
        {{meal-item
            photo=meal.images.[0].url
            description=meal.description
            price=meal.price
            rating=meal.rating
            reviews_count=meal.reviews_count
            id=meal.id}}
    {{/each}}
</div>
{{outlet}}
